In [1]:
import pandas as pd
import numpy as np
datafile = 'BlackFriday.csv'
df = pd.read_csv(datafile)
df

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254
11,1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,3957
12,1000005,P00031342,M,26-35,20,A,1,1,8,NaN,NaN,6073
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
15,1000006,P00190242,F,51-55,9,A,1,0,4,5.0,NaN,2079
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055
17,1000006,P00058442,F,51-55,9,A,1,0,5,14.0,NaN,8851
18,1000007,P00036842,M,36-45,1,B,1,1,1,14.0,16.0,11788
19,1000008,P00249542,M,26-35,12,C,4+,1,1,5.0,15.0,19614
20,1000008,P00220442,M,26-35,12,C,4+,1,5,14.0,NaN,8584
21,1000008,P00156442,M,26-35,12,C,4+,1,8,NaN,NaN,9872
22,1000008,P00213742,M,26-35,12,C,4+,1,8,NaN,NaN,9743
23,1000008,P00214442,M,26-35,12,C,4+,1,8,NaN,NaN,5982
24,1000008,P00303442,M,26-35,12,C,4+,1,1,8.0,14.0,11927
25,1000009,P00135742,M,26-35,17,C,0,0,6,8.0,NaN,16662
26,1000009,P00039942,M,26-35,17,C,0,0,8,NaN,NaN,5887
27,1000009,P00161442,M,26-35,17,C,0,0,5,14.0,NaN,6973
28,1000009,P00078742,M,26-35,17,C,0,0,5,8.0,14.0,5391
29,1000010,P00085942,F,36-45,1,B,4+,1,2,4.0,8.0,16352
...,...,...,...,...,...,...,...,...,...,...,...,...
537547,1004733,P00244042,M,18-25,18,C,1,0,1,2.0,15.0,11543
537548,1004734,P00111042,M,51-55,1,B,1,1,15,NaN,NaN,20924
537549,1004734,P00345842,M,51-55,1,B,1,1,2,8.0,14.0,13082
537550,1004735,P00278242,M,46-50,3,C,3,0,1,NaN,NaN,11658
537551,1004735,P00313442,M,46-50,3,C,3,0,5,6.0,8.0,6863
537552,1004735,P0098642,M,46-50,3,C,3,0,6,8.0,NaN,16415
537553,1004735,P00119342,M,46-50,3,C,3,0,10,13.0,NaN,18526
537554,1004735,P00114042,M,46-50,3,C,3,0,5,14.0,NaN,7099
537555,1004735,P00135142,M,46-50,3,C,3,0,13,16.0,NaN,578
537556,1004736,P00194542,M,18-25,20,A,1,1,8,14.0,NaN,2183
537557,1004736,P00175242,M,18-25,20,A,1,1,2,NaN,NaN,12724
537558,1004736,P00101942,M,18-25,20,A,1,1,8,17.0,NaN,7796
537559,1004736,P00109142,M,18-25,20,A,1,1,8,17.0,NaN,7770
537560,1004736,P00084842,M,18-25,20,A,1,1,8,16.0,NaN,5940
537561,1004736,P00078142,M,18-25,20,A,1,1,8,16.0,NaN,7834
537562,1004736,P00146742,M,18-25,20,A,1,1,1,13.0,14.0,11508
537563,1004736,P00154642,M,18-25,20,A,1,1,8,NaN,NaN,6074
537564,1004736,P00117442,M,18-25,20,A,1,1,5,14.0,NaN,7084
537565,1004736,P00051142,M,18-25,20,A,1,1,8,NaN,NaN,7934
537566,1004736,P00048742,M,18-25,20,A,1,1,5,NaN,NaN,5350
537567,1004736,P00157542,M,18-25,20,A,1,1,8,14.0,NaN,1994
537568,1004736,P00250642,M,18-25,20,A,1,1,11,NaN,NaN,5930
537569,1004736,P00023142,M,18-25,20,A,1,1,5,14.0,NaN,7042
537570,1004736,P00162442,M,18-25,20,A,1,1,1,16.0,NaN,15491
537571,1004737,P00221442,M,36-45,16,C,1,0,1,2.0,5.0,11852
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

In [2]:
def clean(df):
    df=df.fillna(0)
    df['Gender']=np.where(df['Gender'] == 'F',0,1)
    df['Age'] = np.where(df['Age']=='0-17',0,np.where(df['Age']=='18-25',1,np.where(df['Age']=='26-35',2,np.where(df['Age']=='36-45',3,np.where(df['Age']=='46-50',4,np.where(df['Age']=='51-55',5,6))))))
    df['City_Category'] = np.where(df['City_Category']=='A',0,np.where(df['City_Category']=='B',1,2))
    df['Stay_In_Current_City_Years'] = np.where(df['Stay_In_Current_City_Years'] == '4+',4,np.where(df['Stay_In_Current_City_Years'] =='3',3,np.where(df['Stay_In_Current_City_Years'] =='2',2,np.where(df['Stay_In_Current_City_Years'] =='1',1,0))))
    return df

In [3]:
df = clean(df)
df = pd.get_dummies(df,columns=['Age','City_Category','Stay_In_Current_City_Years'])
df

,User_ID,Product_ID,Gender,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Age_0,...,Age_5,Age_6,City_Category_0,City_Category_1,City_Category_2,Stay_In_Current_City_Years_0,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4
0,1000001,P00069042,0,10,0,3,0.0,0.0,8370,1,...,0,0,1,0,0,0,0,1,0,0
1,1000001,P00248942,0,10,0,1,6.0,14.0,15200,1,...,0,0,1,0,0,0,0,1,0,0
2,1000001,P00087842,0,10,0,12,0.0,0.0,1422,1,...,0,0,1,0,0,0,0,1,0,0
3,1000001,P00085442,0,10,0,12,14.0,0.0,1057,1,...,0,0,1,0,0,0,0,1,0,0
4,1000002,P00285442,1,16,0,8,0.0,0.0,7969,0,...,0,1,0,0,1,0,0,0,0,1
5,1000003,P00193542,1,15,0,1,2.0,0.0,15227,0,...,0,0,1,0,0,0,0,0,1,0
6,1000004,P00184942,1,7,1,1,8.0,17.0,19215,0,...,0,0,0,1,0,0,0,1,0,0
7,1000004,P00346142,1,7,1,1,15.0,0.0,15854,0,...,0,0,0,1,0,0,0,1,0,0
8,1000004,P0097242,1,7,1,1,16.0,0.0,15686,0,...,0,0,0,1,0,0,0,1,0,0
9,1000005,P00274942,1,20,1,8,0.0,0.0,7871,0,...,0,0,1,0,0,0,1,0,0,0
10,1000005,P00251242,1,20,1,5,11.0,0.0,5254,0,...,0,0,1,0,0,0,1,0,0,0
11,1000005,P00014542,1,20,1,8,0.0,0.0,3957,0,...,0,0,1,0,0,0,1,0,0,0
12,1000005,P00031342,1,20,1,8,0.0,0.0,6073,0,...,0,0,1,0,0,0,1,0,0,0
13,1000005,P00145042,1,20,1,1,2.0,5.0,15665,0,...,0,0,1,0,0,0,1,0,0,0
14,1000006,P00231342,0,9,0,5,8.0,14.0,5378,0,...,1,0,1,0,0,0,1,0,0,0
15,1000006,P00190242,0,9,0,4,5.0,0.0,2079,0,...,1,0,1,0,0,0,1,0,0,0
16,1000006,P0096642,0,9,0,2,3.0,4.0,13055,0,...,1,0,1,0,0,0,1,0,0,0
17,1000006,P00058442,0,9,0,5,14.0,0.0,8851,0,...,1,0,1,0,0,0,1,0,0,0
18,1000007,P00036842,1,1,1,1,14.0,16.0,11788,0,...,0,0,0,1,0,0,1,0,0,0
19,1000008,P00249542,1,12,1,1,5.0,15.0,19614,0,...,0,0,0,0,1,0,0,0,0,1
20,1000008,P00220442,1,12,1,5,14.0,0.0,8584,0,...,0,0,0,0,1,0,0,0,0,1
21,1000008,P00156442,1,12,1,8,0.0,0.0,9872,0,...,0,0,0,0,1,0,0,0,0,1
22,1000008,P00213742,1,12,1,8,0.0,0.0,9743,0,...,0,0,0,0,1,0,0,0,0,1
23,1000008,P00214442,1,12,1,8,0.0,0.0,5982,0,...,0,0,0,0,1,0,0,0,0,1
24,1000008,P00303442,1,12,1,1,8.0,14.0,11927,0,...,0,0,0,0,1,0,0,0,0,1
25,1000009,P00135742,1,17,0,6,8.0,0.0,16662,0,...,0,0,0,0,1,1,0,0,0,0
26,1000009,P00039942,1,17,0,8,0.0,0.0,5887,0,...,0,0,0,0,1,1,0,0,0,0
27,1000009,P00161442,1,17,0,5,14.0,0.0,6973,0,...,0,0,0,0,1,1,0,0,0,0
28,1000009,P00078742,1,17,0,5,8.0,14.0,5391,0,...,0,0,0,0,1,1,0,0,0,0
29,1000010,P00085942,0,1,1,2,4.0,8.0,16352,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537547,1004733,P00244042,1,18,0,1,2.0,15.0,11543,0,...,0,0,0,0,1,0,1,0,0,0
537548,1004734,P00111042,1,1,1,15,0.0,0.0,20924,0,...,1,0,0,1,0,0,1,0,0,0
537549,1004734,P00345842,1,1,1,2,8.0,14.0,13082,0,...,1,0,0,1,0,0,1,0,0,0
537550,1004735,P00278242,1,3,0,1,0.0,0.0,11658,0,...,0,0,0,0,1,0,0,0,1,0
537551,1004735,P00313442,1,3,0,5,6.0,8.0,6863,0,...,0,0,0,0,1,0,0,0,1,0
537552,1004735,P0098642,1,3,0,6,8.0,0.0,16415,0,...,0,0,0,0,1,0,0,0,1,0
537553,1004735,P00119342,1,3,0,10,13.0,0.0,18526,0,...,0,0,0,0,1,0,0,0,1,0
537554,1004735,P00114042,1,3,0,5,14.0,0.0,7099,0,...,0,0,0,0,1,0,0,0,1,0
537555,1004735,P00135142,1,3,0,13,16.0,0.0,578,0,...,0,0,0,0,1,0,0,0,1,0
537556,1004736,P00194542,1,20,1,8,14.0,0.0,2183,0,...,0,0,1,0,0,0,1,0,0,0
537557,1004736,P00175242,1,20,1,2,0.0,0.0,12724,0,...,0,0,1,0,0,0,1,0,0,0
537558,1004736,P00101942,1,20,1,8,17.0,0.0,7796,0,...,0,0,1,0,0,0,1,0,0,0
537559,1004736,P00109142,1,20,1,8,17.0,0.0,7770,0,...,0,0,1,0,0,0,1,0,0,0
537560,1004736,P00084842,1,20,1,8,16.0,0.0,5940,0,...,0,0,1,0,0,0,1,0,0,0
537561,1004736,P00078142,1,20,1,8,16.0,0.0,7834,0,...,0,0,1,0,0,0,1,0,0,0
537562,1004736,P00146742,1,20,1,1,13.0,14.0,11508,0,...,0,0,1,0,0,0,1,0,0,0
537563,1004736,P00154642,1,20,1,8,0.0,0.0,6074,0,...,0,0,1,0,0,0,1,0,0,0
537564,1004736,P00117442,1,20,1,5,14.0,0.0,7084,0,...,0,0,1,0,0,0,1,0,0,0
537565,1004736,P00051142,1,20,1,8,0.0,0.0,7934,0,...,0,0,1,0,0,0,1,0,0,0
537566,1004736,P00048742,1,20,1,5,0.0,0.0,5350,0,...,0,0,1,0,0,0,1,0,0,0
537567,1004736,P00157542,1,20,1,8,14.0,0.0,1994,0,...,0,0,1,0,0,0,1,0,0,0
537568,1004736,P00250642,1,20,1,11,0.0,0.0,5930,0,...,0,0,1,0,0,0,1,0,0,0
537569,1004736,P00023142,1,20,1,5,14.0,0.0,7042,0,...,0,0,1,0,0,0,1,0,0,0
537570,1004736,P00162442,1,20,1,1,16.0,0.0,15491,0,...,0,0,1,0,0,0,1,0,0,0
537571,1004737,P00221442,1,16,0,1,2.0,5.0,11852,0,...,0,0,0,0,1,0,1,0,0,0
537572,1004737,P00193542,1,16,0,1,2.0,0.0,11664,0,...,0,0,0,0,1,0,1,0,0,0
537573,1004737,P00111142,1,16,0,1,15.0,16.0,19196,0,...,0,0,0,0,1,0,1,0,0,0
537574,1004737,P00345942,1,16,0,8,15.0,0.0,8043,0,...,0,0,0,0,1,0,1,0,0,0
537575,1004737,P00285842,1,16,0,5,0.0,0.0,7172,0,...,0,0,0,0,1,0,1,0,0,0
537576,1004737,P00118242,1,16,0,5,8.0,0.0,6875,0,...,0,0,0,0,1,0,1,0,0,0

In [4]:
y_df = df[['User_ID','Purchase']].groupby('User_ID').sum()
x_df = df.iloc[0:,[0,2,3,4,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]].groupby('User_ID').mean()
x_df.head()

,Gender,Occupation,Marital_Status,Age_0,Age_1,Age_2,Age_3,Age_4,Age_5,Age_6,City_Category_0,City_Category_1,City_Category_2,Stay_In_Current_City_Years_0,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4
User_ID,,,,,,,,,,,,,,,,,,
1000001,0,10,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0
1000002,1,16,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1
1000003,1,15,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0
1000004,1,7,1,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0
1000005,1,20,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0

# y is not follow the normal distribution 
## we can not normalize y, instead,  we use the minmax method

In [5]:
import matplotlib.pyplot as plt
import numpy as np  
plt.hist(np.array(y_df))

(array([4.405e+03, 9.590e+02, 3.220e+02, 1.340e+02, 4.900e+01, 1.300e+01,
        6.000e+00, 1.000e+00, 1.000e+00, 1.000e+00]),
 array([   44108. ,  1093375.5,  2142643. ,  3191910.5,  4241178. ,
         5290445.5,  6339713. ,  7388980.5,  8438248. ,  9487515.5,
        10536783. ]),
 <a list of 10 Patch objects>)

In [6]:
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()
mm_data = mm.fit_transform(y_df)
origin_data = mm.inverse_transform(mm_data)

In [7]:
y_df

         Purchase
User_ID
1000001    333481
1000002    810353
1000003    341635
1000004    205987
1000005    821001
1000006    379450
1000007    234427
1000008    796545
1000009    593960
1000010   2169486
1000011    556902
1000012    120801
1000013    713927
1000014    127629
1000015   1047124
1000016    150428
1000017   1425501
1000018   1978675
1000019   1457938
1000020    185747
1000021    126744
1000022   1279678
1000023   1670998
1000024    720850
1000025    534215
1000026   1606174
1000027    448562
1000028    516560
1000029    696201
1000030    260985
...           ...
1006011   1142042
1006012    127552
1006013    609155
1006014    479224
1006015    255812
1006016   3542344
1006017    126398
1006018    911951
1006019    503361
1006020    374475
1006021    670470
1006022    242077
1006023   1092875
1006024    749393
1006025    985215
1006026    441411
1006027    256312
1006028    335351
1006029    130969
1006030    666530
1006031    266795
1006032    480614
1006033    501475
1006034    187070
1006035    926272
1006036   3821666
1006037   1075037
1006038     80859
1006039    554504
1006040   1562615

[5891 rows x 1 columns]

In [8]:
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.model_selection import train_test_split
x_train,x_test = train_test_split(x_df, test_size = 0.3)
y_train,y_test = train_test_split(y_df, test_size = 0.3)
x_train
y_train


model = linear_model.LinearRegression()
model.fit(x_train,y_train)

testing_predictions  = model.predict(x_test)
print(model.coef_)
name = ['Gender','Occupation','Marital_Status','Age_0','Age_1','Age_2','Age_3','Age_4','Age_5','Age_6','City_Category_0','City_Category_1','City_Category_2','Stay_In_Current_City_Years_0','Stay_In_Current_City_Years_1','Stay_In_Current_City_Years_2','Stay_In_Current_City_Years_3','Stay_In_Current_City_Years_4']
di = pd.DataFrame(model.coef_,columns= name)
di.transpose()

[[  1163.2307361   -3257.25751959  28333.55453646   -881.50374572
  -11482.93919245  -2030.43475012 -13617.47841254  16876.60264583
   -7453.96152651  18589.71498151   1800.33781491   3152.85205647
   -4953.18987137  -7338.45977685  33328.24397802   2471.20763712
   30328.74062315 -58789.73246145]]

                                         0
Gender                         1163.230736
Occupation                    -3257.257520
Marital_Status                28333.554536
Age_0                          -881.503746
Age_1                        -11482.939192
Age_2                         -2030.434750
Age_3                        -13617.478413
Age_4                         16876.602646
Age_5                         -7453.961527
Age_6                         18589.714982
City_Category_0                1800.337815
City_Category_1                3152.852056
City_Category_2               -4953.189871
Stay_In_Current_City_Years_0  -7338.459777
Stay_In_Current_City_Years_1  33328.243978
Stay_In_Current_City_Years_2   2471.207637
Stay_In_Current_City_Years_3  30328.740623
Stay_In_Current_City_Years_4 -58789.732461

In [32]:
def reg_purchase(df):
    from sklearn import linear_model
    from sklearn.model_selection import train_test_split
    train, test = train_test_split(df, test_size = 0.3)
    
    x_train = train.iloc[0:,2:8]
    y_train = train['Purchase']

    x_test = test.iloc[0:,2:8]
    y_test = test['Purchase']

    model = linear_model.LinearRegression()
    model.fit(x_train,y_train)
    
    testing_predictions  = model.predict(x_test)
    return testing_predictions

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

array([9201.58940885, 9912.10874002, 9142.05262793, ..., 8339.21963966,
       9863.96648426, 8927.65466208])

In [10]:
def reg_product_category(df):    
    from sklearn import linear_model
    from sklearn.model_selection import train_test_split
    train2, test2 = train_test_split(df, test_size = 0.3)
    
    x_train2 = train2.iloc[0:,2:8]
    y1_train2,y2_train2, y3_train2 = train2['Product_Category_1'],train2['Product_Category_2'], train2['Product_Category_3']

    x_test2 = test2.iloc[0:,2:8]
    y1_test2, y2_test2, y3_test2 = test2['Product_Category_1'],test2['Product_Category_2'], test2['Product_Category_3']

    model2_1 = linear_model.LinearRegression()
    model2_1.fit(x_train2,y1_train2)

    model2_2 = linear_model.LinearRegression()
    model2_2.fit(x_train2,y2_train2)

    model2_3 = linear_model.LinearRegression()
    model2_3.fit(x_train2,y3_train2)


    testing_predictions_y1  = model2_1.predict(x_test2)
    testing_predictions_y2  = model2_2.predict(x_test2)
    testing_predictions_y3  = model2_3.predict(x_test2)
    
    return (testing_predictions_y1,testing_predictions_y2,testing_predictions_y3)

In [13]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
train2, test2 = train_test_split(df, test_size = 0.3)
train2
x_train2 = train2.iloc[0:,2:8]
x_train2
y1_train2,y2_train2, y3_train2 = train2['Product_Category_1'],train2['Product_Category_2'], train2['Product_Category_3']
y1_train2 

x_test2 = test2.iloc[0:,2:8]
y1_test2, y2_test2, y3_test2 = test2['Product_Category_1'],test2['Product_Category_2'], test2['Product_Category_3']






from sklearn import linear_model
model2_1 = linear_model.LinearRegression()
model2_1.fit(x_train2,y1_train2)

model2_2 = linear_model.LinearRegression()
model2_2.fit(x_train2,y2_train2)

model2_3 = linear_model.LinearRegression()
model2_3.fit(x_train2,y3_train2)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [16]:
testing_predictions_y1  = model2_1.predict(x_test2)
testing_predictions_y2  = model2_2.predict(x_test2)
testing_predictions_y3  = model2_3.predict(x_test2)
testing_predictions_y3

161274